.card-title{
  text-align: center;
  background-image: url(../images/pizza1.jpg);
  padding-top: 3em;
  color:black;
  background-size: cover;
}

.logo{
  padding-top:5em;
  padding-bottom:1em
}

.card{
  text-align: centre
}


#row1{
  display: flex;
  background-image: url(../images/pizza3.jpg);
  background-size: cover;
}

#row2{
  display: flex;
  background-image: url(../images/pizza6.jpeg);
  background-size: cover;
  padding: 20px;
  margin-top: 20px;
}

.card-footer{
text-align: center;
}

#submit{
  margin: 20px;
}

#address{
  margin: 20px;
}

#name{
  margin-right: 10px;
}

/* .menu{
  text-align: center;
  color: white;
  font-weight: 900;
  padding-top: 20px;
} */

#menu1{
  padding-top: 20px;
  width: 90%;
  margin: auto;
}

#menu2{
  padding-top: 20px;
  width: 90%;
  margin: auto;
}

#menu3{
  padding-top: 20px;
  width: 90%;
  margin: auto;
}

#menu4{
  padding-top: 20px;
  width: 90%;
  margin: auto;
}
