.card-title{
  text-align: center;
  background-image: url(../images/pizza1.jpg);
  padding-top: 3em;
  color:black;
  background-size: cover;
}

.logo{
  padding-top:5em;
  padding-bottom:1em
}

.card-body{
  text-align: centre
}

.order{
  
  background-image: url(); 
  background-size: cover;
  padding: 50px;
  color:white;
}